<section id="intro" class="intro" style="padding-top: 40px;">
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>{{welcome.title}}</h3>
      <div ng-bind-html="welcome.content"></div><a du-smooth-scroll href="#about">Read more about us</a>.
    </div>
    <div class="col-sm-4 skills clearfix">
      <h3>{{skills.title}}</h3>
      <div ng-bind-html="skills.content"></div>
    </div>
    <div class="col-sm-4 contact">
      <h3>{{contact.title}}</h3>
      <div ng-bind-html="contact.content"></div>
    </div>
  </div>
  </div>
</section>

<!-- <p>{{fromFactory}}</p> -->

<section id="project" class="project">
  <div class="container">

    <slick class="slider-nav" init-onload="false" dots=true infinite=true speed=300 arrows=true slides-to-show=5 touch-move=true slides-to-scroll=1 init-onload="true" data="projects" adaptive-height=true as-nav-for=".slick-for" focus-on-select=true responsive="breakpoints" center-mode="true" center-padding="40px">
      <div ng-repeat="project in projects | orderBy:'parent.date':true" class="carousel-item">
        <!--<img data-lazy="{{project.source}}">-->
        <img src="{{project.source}}">
        <div class="slide__caption">{{project.parent.title}}</div>
      </div>
    </slick>

      <slick class="slick-for" init-onload="false" infinite=true speed=300 arrows=false slides-to-show=1 touch-move=true slides-to-scroll=1 init-onload="true" data="projects" adaptive-height=true as-nav-for=".slider-nav">
        <div ng-repeat="project in projects | orderBy:'parent.date':true" class="carousel-item">
          <h3>{{project.parent.title}}</h3>
          <div ng-bind-html="project.parent.content"></div>
        </div>
      </slick>
  </div>
</section>

<section class="about" id="about" ng-controller="AboutCtrl">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" ng-bind-html="about.content"></div>
    </div>
  </div>
</section>