<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
  <p>{{fromFactory}}</p>
  <li ng-repeat="project in projects">
    {{project.parent.title}}
  </li>

  <slick dots=true infinite=false speed=300 arrows=true slides-to-show=6 touch-move=false slides-to-scroll=1 init-onload="true" data="projects">
    <div ng-repeat="project in projects | orderBy:'parent.date':true" ng-click='test(project)' ng-class="{sel: $index == selected}">
      <img data-lazy="{{project.source}}">
      <div class="slide__caption">{{project.parent.title}}</div>
    </div>
  </slick>

  <div id="single-project">
    <div class="row project well" ng-show="shown">
      <button ng-click="close()" id="close" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div ng-show="selectedTest != null" animate-show ng-animate="'fade'">
        <h3 class="title">{{selectedTest.parent.title}}</h3>
        <div ng-bind-html="selectedTest.parent.content"></div>
      </div>
      <!--<i class="fa fa-desktop">{{selectedTest.parent.url}}</i>-->
              <button ng-click="prev()">Prev</button>
              <button ng-click="next()">Next</button>
    </div>
  </div>



</div>
